# Dependencies
node_modules/

# Build output
dist/
dist-ssr/

# Env / maxfiy
.env
.env.local
*.local
!.env.example

# Loglar
*.log
logs/

# IDE
.idea/
.vscode/*
!.vscode/extensions.json

# OS
.DS_Store
Thumbs.db
